<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<h1><%= @detail.title %></h1>
		<p><%= @detail.text %></p>
		<p>Posted on <%= @detail.date.strftime("%b %e, %l:%M %p") %></p>
	</div>
</body>
</html>

