<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/create_task" method="POST">
		<label for="newtask">Enter your new task</label>
		<input type="text" name="newtask" id="newtask" placeholder="Do the dishes">
		<button type="submit">Submit</button>
	</form>
</body>
</html>