<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">


	<title>Search for movies !</title>
</head>
<body>
	<div class="container">
		<form action="/search_result" method="POST" id="search_result">
		  <div class="form-group">
			<label for="title">Search for a movie</label>
			<input type="text" class="form-control" name="search_result" id="title" placeholder="Jaws">
		  </div>
		  	<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>

