<!DOCTYPE html>
<html>
<head>
	<title>ADD | Online Calculator</title>
</head>
<body>
	<h1>Add</h1>
	<form action="/calculate_add" method="POST">
		<label for="n1"></label>
		<input type="number" name="n1" ="n1" placeholder="First Number"> 
					+ 
		<label for="n2"></label>
		<input type="number" name="n2" id="n2" placeholder="Second Number">
		<button type="submit" name="btn" value="plus">+</button>
	</form>
</body>
</html>