<!DOCTYPE html>
<html>
<head>
	<title>Online Calculator</title>
</head>
<body>
	<h1>Choose your operation</h1>
	<form action="/calculate" method="POST">
		<label for="n1"></label>
		<input type="number" name="n1" ="n1" placeholder="First Number"> 
		<label for="n2"></label>
		<input type="number" name="n2" id="n2" placeholder="Second Number">
		<button type="submit" name="btn" value="+">ADD</button>
		<button type="submit" name="btn" value="-">SUBSTRACT</button>
		<button type="submit" name="btn" value="*">MULTIPLY</button>
		<button type="submit" name="btn" value="/">DIVID</button>
	</form>

</body>
</html>